.subscription {
  grid-area: subscription;
  padding: 0 15%;
  margin: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.action {
  margin: 25px auto;
  width: 350px;
}

.action p {
  color: var(--color-gray-light);
}

.action .btn {
  max-width: 300px;
  margin: 60px auto 30px;
}

.animation-unlocked {
  max-width: 80px;
  margin: 0 auto;
  margin: 30px auto 6px;
}

.animation-fire {
  max-width: 50%;
  margin: 10px auto 60px
}